<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    {{ include('shared.head') }}
    <link rel="preload" as="image" href="{{ home_pic_url }}">
    <title>{{ site_name }}</title>
    <style>
      .wrapper {
        {% if fixed_bg %}
          background-color: rgba(0, 0, 0, 0);
        {% else %}
          background-image: url('{{ home_pic_url }}');
        {% endif %}
      }
    </style>
    {{ include('assets.home-css', ignore_missing = true) }}
  </head>

  <body class="hold-transition layout-top-nav">

    <div id="wrapper">

      {% if fixed_bg %}
        <div id="fixed-bg" style="background-image: url('{{ home_pic_url }}')"></div>
      {% endif %}
      
        <!-- subsection close button -->
        <div href="" id="btn-exit">
            <div href="#" class="line-1"></div>
            <div href="#" class="line-2"></div>
        </div>

        <!-- section cutscenst -->
        <div class="transition"></div>

        <!-- header begin -->
        <header class="transparent">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="align-self-center header-col-left">
                                <!-- logo begin -->
                                <div id="logo" style="width: 230px;">
                                    <a href="{{ url('/') }}">
                                        <img alt="Peckot" draggable="false" src="{{ cdn_base }}/img/logo-cc-3.png" style="padding-bottom: 5px; padding-right: 5px; height: 15%; width: 15%">
                                        <span style="color: #e14819;">P<span style="color: #e14819B3;">eckot</span></span>
                                        <span style="color: #e14819;">MC</span>
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div id="abc" class="align-self-center ml-auto header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu" class="scrollnav">
                                
            <div id="navlink" style="display:inline;">
              <li>
                <a class="nav-link" href="https://peckot.com">{{ trans('general.mainsite') }}</a>
              </li>
              <li>
                <a class="nav-link" href="#section-intro">{{ trans('general.intro') }}</a>
              </li>
              <li>
                <a class="nav-link" href="#section-screenshot">{{ trans('general.screenshot') }}</a>
              </li>
              <li>
                <a class="nav-link" href="https://docs.peckot.com">{{ trans('general.docs') }}</a>
              </li>
              <li>
                <a class="nav-link" href="{{ url('skinlib') }}">{{ trans('general.skinlib') }}</a>
              </li>
            </div>
            
              {{ include('shared.languages') }}
              
              {% if auth_check() %}
                {{ include('shared.user-menu') }}
              {% else %}
                <li class="nav-item">
                  <a style="color:#fff;" class="nav-link" href="{{ url('auth/login') }}">
                    <i class="icon fas fa-sign-in-alt"></i>
                    {{ trans('general.login') }}
                  </a>
                </li>
              {% endif %}
                                </ul>
                                <!-- mainmenu close -->
                            </div>
                            <div class="align-self-center ml-auto header-col-right">
                                <div class="social-icons sc-plain">
                                    <a href="https://github.com/Pectics/peckot-websites" title="查看仓库"><i class="fa fa-git fa-lg"></i></a>
                                </div>
                                <span id="menu-btn"></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!--首页-->
            <section id="section-main" class="vertical-center text-light" data-bgimage="">
                <!--侧边栏电话号码-->
                <!-- <div id="v-wrap">
                    <div class="vw-inner">
                        <div class="vw-col"><i class="fa fa-mobile id-color"></i>+0 1145141919810</div>
                    </div>
                </div> -->
                <div id="particles-js"></div>
                <div class="container">
                    <div class="row wow fadeIn" data-wow-delay=".3s">
                        <div class="col-lg-10 offset-lg-1 text-center">
                          <h1 class="splash-head">{{ site_name }}</h1>
                            <p class="splash-subhead">
                              {{ site_description }}
                            </p>
                        <div>
                        
            {% if auth_check() %}
<!--                            <a href="javascript:$('#dl-c').modal();" class="btninfo mgtop" title="点击查看">{{ trans('general.user-center') }}</a>&nbsp;&nbsp; --!>
                            <a href="https://mc.peckot.com/user" class="btninfo mgtop" title="点击跳转">{{ trans('general.user-center') }}</a>&nbsp;&nbsp;
                            <a href="https://mc.peckot.com" class="btndl mgtop" title="点击跳转">{{ trans('general.mainsite') }}</a>&nbsp;&nbsp;
                            <a href="https://docs.peckot.com" class="main-button mgtop" title="点击跳转">{{ trans('general.read-docs') }}</a>&nbsp;&nbsp;
            {% else %}
              <a href="{{ url('auth/register') }}" class="main-button mgtop">
                {{ trans('general.register') }}
              </a>
            {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 团队简介 -->
            <section id="section-intro" class="vertical-center dark text-light">
                <div class="container">
                    <div class="row wow fadeInDown">
                        <div class="col-lg-12 text-center">
                            <h2 class="title">团队<span class="id-color">简介</span></h2>
                        </div>
                    </div>

                    <div class="row wow fadeInUp">
                        <div class="fb-text">
                            <p>
                                <strong>Peckot Studios</strong> 诞生于 2021 年 6 月 27 日，早期主营 Minecraft 游戏服务器以及 Paper/Spigot/Bukkit 插件编写等项目。自成立以来，我们一直致力于 Minecraft 游戏服务器的开发和维护，
                                但单一化的项目满足不了我们的需求，因此我们开始了其他业务的经营，包括网站开发、Minecraft 插件/服务器开发、独立游戏开发、软件开发等。
                            </p>
                        </div>
                        <!-- Pectics -->
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="f-profile text-center">
                                <div class="fp-wrap f-invert">
                                    <div class="fpw-overlay">
                                        <div class="fpwo-wrap"></div>
                                    </div>
                                    <div class="fpw-overlay-btm"></div>
                                    <img src="https://q1.qlogo.cn/g?b=qq&nk=2671876934&s=640" class="fp-image img-fluid img-rounded" style="width:55%" alt="">
                                </div>
                                <h4>Pectics</h4>
                                Peckot Studios 主创
                                <div class="fpwow-icons">
                                    <a href="http://wpa.qq.com/msgrd?v=3&uin=2671876934&site=qq&menu=yes" target="_blank"><i class="fa fa-qq fa-lg"></i></a>
                                    <a href="mailto:pectics@outlook.com"><i class="fa fa-envelope-o fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                      </div>
            </section>

            
            <!-- 项目截图 -->
            <section id="section-screenshot" class="vertical-center dark text-light">
                <div class="container">
                    <!-- portfolio filter begin -->
                    <div class="row">
                        <div class="col-lg-12 text-center wow fadeInDown">
                            <h2 class="title"><span class="id-color">项目</span>截图</h2>
                        </div>
                        <div class="col-md-12">
                            <div class="zoom-gallery row sequence">
                                <!-- gallery item -->
                                <div class="col-md-4 mb30 gallery-item">
                                    <div class="pf_item wow">
                                        <div class="picframe">
                                            <a href="https://store-g1.seewo.com/068d68e6d60a498495a5b1a71021b386161846227567711" title="">
                                                <span class="overlay">
                                                    <span class="pf_text">
                                                        <span class="project-name">项目名称</span>
                                                    </span>
                                                </span>
                                                <img src="img/006MpbfMgy1gt9g9sanxoj31hc0s9qv5.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- close gallery item -->
                            </div>
                        </div>
                        <!-- portfolio filter close -->
                    </div>
                </div>
            </section>

            <!-- 更新日志 -->
            <section id="section-update" class="vertical-center dark text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center wow fadeInDown">
                            <h2 class="title">更新<span class="id-color">日志</span></h2>
                        </div>
                    </div>

                    <div class="row wow fadeInUp">
                        <div class="fb-text">
                            <h4>2022年6月7日</h4>
                            <p>
                                [+] 官网源码更新
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 关于我们 -->
            <section id="section-aboutus" class="vertical-center dark text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center wow fadeInDown">
                            <h2 class="title">关于<span class="id-color">我们</span></h2>
                        </div>
                    </div>
                    <!--<div class="spacer-double"></div>-->
                    <div class="row wow fadeInUp">
                        <div class="col-lg-12 text-center">
                            <div class="fb-text">
                                <p>
                                    待编辑……
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 版权信息 -->
            <div id="copyright" class="with-intro" style="background: 0% 0% / cover rgb(0 0 0 / 0%);padding: 15px;color: rgb(255, 255, 255);position: absolute;bottom: 0;width: 100%;">
                <div class="container" style="background-size: cover;">
                    Modified by <a href="https://pectics.peckot.com" target="_blank">Pectics</a> on <a href="https://www.lazy.ink" target="_blank">Lazy</a> | 
                    <a href="https://beian.miit.gov.cn" target="_blank">渝ICP备2022006862号</a><br>
                    <strong>Copyright © 2021-{{ post.published_at|date("Y", "Asia/Shanghai") }} <a href="https://peckot.com">Peckot Studios</a>.</strong> All rights reserved. | 
                    <strong>Powered with ❤ by <a href="https://github.com/bs-community/blessing-skin-server">Blessing Skin Server</a>.</strong>
                </div>
            </div>
            <!-- content close -->

            <!--Download Client Modal-->
            <div id="dl-c" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" style="color: #232323;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Peckot 子项目</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.open('https\://mc.peckot.com')">PeckotMC Minecraft 服务器</button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <script type="application/json" id="blessing-extra">
      {{ {transparent_navbar: transparent_navbar}|json_encode|raw }}
    </script>
    {{ include('assets.home', ignore_missing = true) }}
    {{ include('shared.foot') }}
  </body>
</html>
